body {
    background-image: linear-gradient(90deg, purple, black);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    box-sizing: border-box;
}
.container00 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1500px;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.container {
    text-align: center;
    background-color: #eee;
    padding: 15px;
    max-width: 400px;
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    margin: 5px;
}

.container02 {
    background-color: grey;
    width: 80%;
    max-width: 300px;
    height: 200px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column; /* Alterado para empilhar os elementos verticalmente */
    align-items: center; /* Adicionado para centralizar os itens horizontalmente */
    padding: 20px; /* Adicionado espaçamento interno */
    justify-content: space-around;
    border-radius: 15px;
}

/* Estilo para o select */
.select {
    width: 100%; /* Faz o select ocupar toda a largura da div */
    padding: 10px; /* Adiciona um espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border: none; /* Remove a borda padrão */
    border-radius: 5px; /* Adiciona bordas arredondadas */
    backdrop-filter: grey;
}
.inputSalario {
    width: 70%;
    height: 35px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    backdrop-filter: grey;
    padding: 5px;
    margin: 15px;
}
#resultado {
    margin-top: 10px;
    font-size: 16px;
    color: black; /* Cor verde para o resultado */
}
.container02Hidden {
    display: flex;
    max-width: 300px;
    width: 60%;
    height: 200px;
    background-color: grey;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
